
.main-bg-color {
  background-color: #04a9b9;
}

.light-bg-color {
  background-color: hsl(168, 46%, 79%);
}

h1 { 
  font-family: 'Londrina Solid', cursive;
  text-align: left;
  color: #086b74;
}

h2 {
  font-family: 'Londrina Solid', cursive;
  text-align: left;
  color: #613863;

  }
h3 {  
  font-family: 'Londrina Solid', cursive;
  font-family: 'Pragati Narrow', sans-serif;
  color:  #13808a;
}

h4 {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Pragati Narrow', sans-serif;
  color: #b7edf1
  
}

.body-text {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Pragati Narrow', sans-serif;
  color: #74b5bb;
}

.subtle-text {
  color: #9687aa;
  font-family: 'Londrina Solid', cursive;
  font-size: large;
  text-align: left;
  }

.nav-img {
  height: 50px;
  width: 50px;
}

form {
  background-color: hsl(168, 46%, 79%);
  margin-block-end: 3rem;
  width: 330px;
  border-radius: 3%;
}

.banner {
  min-height: 50vh;
  background-image: url('/assets/images/Mylittlepony.jpg');
  background-size: cover;
  background-position: center;
}

.line-left {
  border-left: 10px solid #13808a;
}


.btn-primary {
  padding: 10px 20px;
  background-color: #613863;
}


.school-img {
  margin: 2em;
  object-fit: fill;
  width: 340px;
  height: 500px;
  }

.icon {
  color: #613863;
  font-size: 1.5em;
}

.big-icon {
    color: #13808a;
    font-size: 2em;
  }


.float-card {
  width: 600px; 
  background-color: hsl(168, 46%, 79%);
  box-shadow: 0px 5px 0px #4a7d91;
  position: absolute;
  transform: translateY(20%) translateX(120%);
  padding: 1em;
}

.card-center {
  position: absolute;
  width: 376px;
  height: 324px;
}

.more-button {
  margin-left: 60%;
  padding: 10px 20px;
  outline-color: #086b74;
  background-color: hsl(168, 46%, 79%);
  color: #086b74;
}

.small-card {
  background-color: rgb(245, 235, 243);
  padding: 3em;
  margin: 3em;
  min-width: 300px;
  min-height: 225px;
  text-align: center;
  font-size: medium;
  border-radius: 3%;
}

.medium-card {
  background-color: rgb(245, 235, 243);
  padding: 3em;
  margin: 2em;
  min-width: 350px;
  min-height: 300px;
  text-align: center;
  font-size: medium;
  border-radius: 3%;
}


.line-bottom {
  align-content: center;
  border-bottom: 5px solid #4a7d91;
  border-width: 5px;
}

.mdi-star-circle {
  width: 100px;
  height: 100px;
}

.first-footer-bg {
  height: 300px;
}

.sec-footer-bg {
  background-color: rgb(245, 235, 243);
  height: 100px;
}

.footer-text {
  width: 500px;
}

.long-line {
  width: 800px;
  border-bottom: solid #13808a;
  border-width: 5px;
}

@media screen and (max-width: 768px) {

  .medium-card {
    background-color: rgb(245, 235, 243);
    padding: 3em;
    margin: 2em;
    min-width: 350px;
    min-height: 300px;
    text-align: center;
    font-size: medium;
    border-radius: 3%;
    -ms-flex-order: 1;
    }
  

}