
.main-bg-color {
  background-color: #04a9b9;
}

.light-bg-color {
  background-color: hsl(168, 46%, 79%)e9;
}

h2 {
  font-family: 'Londrina Solid', cursive;
  
  text-align: left;
  color: #4f4064;
  }


h4 {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Pragati Narrow', sans-serif;
}


.nav-img {
  height: 50px;
  width: 50px;
}

.card-heaader {
  background-color: #98F5E1;
  opacity: 90%;
}

form {
  background-color: hsl(168, 46%, 79%);
  margin-block-end: 3rem;
  width: 330px;
  border-radius: 3%;
}

.banner {
  min-height: 50vh;
  background-image: url('/assets/images/Mylittlepony.jpg');
  background-size: cover;
  background-position: center;
}

.line-left {
  border-left: 10px solid #4f4064;
}



.btn-primary {
  padding: 10px 20px;
  background-color: #ffcfd2;
}

.btn-outline-primary {
  outline-color: #f18590;
}


.school-img {
  object-position: center;
  object-fit: cover;
  }




.float-card {
  max-width: 540px; 
  box-shadow: 0px 5px 0px #4a7d91;
  transform: translateY(50%) translateX(50%);
}


.subtle-title {
color: #9687aa;
font-family: 'Londrina Solid', cursive;
font-size: large;
text-align: left;
}


@media screen and (max-width: 768px) {

}